@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@700&family=Paytone+One&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
  /* height: 100vh; */
  /* background: rgb(63, 251, 167); */
  /* background: linear-gradient(
    45deg,
    rgb(61, 216, 146) 0%,
    rgb(86, 230, 146) 100%
  ); */

  --payton: 'Paytone One', sans-serif;
  --twitterblue: #1da1f2;
  /* background-repeat: no-repeat; */
}

.slide-in-left-enter {
  transform: translateX(-100%);
}

.slide-in-left-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: all 200ms;
}

.slide-in-left-exit {
  transform: translateX(0%);
  opacity: 1;
}

.slide-in-left-exit-active {
  transform: translateX(-100%);
  opacity: 0;
  transition: all 200ms;
}

.center {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
